@model CMDBuddyFinal.Models.CMedida

@{
    ViewBag.Title = "Conversor de medidas";
    Layout = "~/Views/Shared/_LayoutPiloto.cshtml";
}
<br />
<br />
<h2>Conversor de medidas</h2>

<body style="background-color: #87CEEB;">

    @using (Html.BeginForm("Converte", "CFerramentas", FormMethod.Post))
    {
        <div class="form-group">
            <label for="medida">Selecione a medida que deseja converter:</label>
            <select class="form-control" id="medida" name="opcaoConversao">
                <option value="kilo">Kilograma (kg) para Libra (lb)</option>
                <option value="metro">Metro (m) para Milha (mi)</option>
                <option value="centimetro">Centímetro (cm) para Polegada (in)</option>
                <option value="litro">Litro (L) para Galão (gal)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="valor">Insira o valor a ser convertido:</label>
            <input type="number" step="0.01" class="form-control" id="valor" name="valor" required>
        </div>
        <button type="submit" class="btn btn-primary">Converter</button>
        if (ViewBag.Resultado != null)
        {
            <hr>
            <div class="alert alert-info">@ViewBag.Resultado</div>
        }
    }

    </body>
