
@{
    ViewBag.Title = "Caixa de Ferramentas";
    Layout = "~/Views/Shared/_LayoutPiloto.cshtml";
}


<br>
<br>
<body class="d-flex h-100 text-center text-bg-dark" style="background-image: url('https://bg-so-1.zippyimage.com/2023/04/22/d6daf08bc25ff35f4072a600e690a76b.png'); ">
    <main class="px-3">
        <br />
        <br />
        <h1>Caixa de Ferramentas</h1>
        <br />
        <br />
        <p class="lead">
            @Html.ActionLink("Calculadora de Horas", "CalHoras", "CFerramentas", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Relação de códigos ICAO", "RelICAO", "CFerramentas", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Conversor de Medidas", "ConMedidas", "CFerramentas", null, new { @class = "btn btn-primary" })
        </p>
    </main>
</body>