@{
    ViewBag.Title = "About";
}
<br />
<br />
    <img src="~/Img/sobreimg.png" width="500" height="500" class="float-lg-right" />
<br />

<body style="background-color: #b1ccc4;">
    <p>
        <h2>A Origem do CommanderBuddy</h2>
    </p>
    <p>
        Um dia, quando viajava com meu pai, que foi comandante de linhas aereas comerciais por anos e entusiasta quando se trata de voo, em um avião bimotor simples com destino original para Búzios/RJ, porém, por conta de um erro no planejamento do voo, tivemos diversas dificuldades, seja com mal estar, quanto desvios inesperados, inclusive tivemos que desviar nossa rota para um pouso em Praia Grande/SP. Quando voltamos para Bragança Paulista, depois de passar o dia anterior, tanto o meu pai quanto seu copiloto teve certos problemas para preencher e enviar os planos de voo e os diários de bordo. Foi então que tive a ideia do Commander Buddy
    </p>
    <p>
        <h2>A função do CommanderBuddy</h2>
    </p>
    <p>
        O CommanderBuddy foi feito para que o usuário tenha facilidade em criar planos de voo, onde ele possa também ter total controle sobre suas informações.
        <br />
        <br />
        Ele tembém foi feito com a ideia de eliminar o uso de papel nos diários de bordo, criando um banco de dados para cada usuário contendo os diários de bordo salvos
        <br />
        <br />
        Além disso, o CommanderBuddy possui ferramentas para facilitar esse preenchimento, com um conversor de medidas, uma calculadora de horas (que converte para decimais) e um banco de dados ICAO para que o usuário possa pesquisar qual código ICAO pertence a qual Aeródromo
        <br />
        <br />
    </p>
    <br />
    <br />
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img" role="img" aria-label="Placeholder: Thumbnail" focusable="false"><img src="~/Img/tabelaforms.png" width="100%" height="100%"></svg>

                        <div class="card-body">
                            <p class="card-text">Tabelas com os Planos de Voo e Diários de Bordo, onde podem ser consultados, editados e deletados</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm float-lg-none">
                        <svg class="bd-placeholder-img" role="img" aria-label="Placeholder: Thumbnail" focusable="false"><img src="~/Img/novoform.png" width="100%" height="100%"></svg>
                        <div class="card-body">
                            <p class="card-text">Paginas para criação de novos Planos de Voo e Diários de Bordo, neles estão todas as informações requisitadas pela ANAC</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img float-lg-right" role="img" aria-label="Placeholder: Thumbnail" focusable="false"><img src="~/Img/calchoras.png" width="100%" height="100%"></svg>
                        <div class="card-body">
                            <p class="card-text">Caixa de Ferramentas com Calculadora de Horas, busca de Aeródromos por ICAO (e vice-versa) e um conversor de medidas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>