@{
    ViewBag.Title = "About";
}
<br />
<br />
<p>
    <img src="~/Img/sobreimg.png" width="500" height="500" /> <br />
    O CommanderBuddy facilita seu projeto antes do voo <br />
     -O piloto faz seu plano de voo e marca se ele foi aprovado ou não<br />
    <br />
    O CommanderBuddy Facilita seu projeto depois do voo<br />
     -O piloto pode criar, editar e deletar diários de bordos e gerenciá-los de qualquer lugar.
</p>
