@{
    ViewBag.Title = "About";
}
<br />
<br />
<p>
    Sobre o projeto:
    O CommanderBuddy é um app em 2 plataformas, Web e Mobile:<br />
    -O Aplicativo Web consiste nos documentos pré voo e de ferramentas importantes para o preenchimento das mesmas. Os dois documentos importantes que estarão nessa primeira versão são: Plano de Voo e Diário de Bordo, além de ferramentas como uma calculadora de horas, um conversor de medidas, e uma relação de aeródromos e seus códigos ICAO<br />
    -O Aplicativo Mobile irá consistir em um formulário que o próprio piloto irá preencher, reportando diversas características e status dos aeródromos em específico, como avisos meteorológicos, status de hangares (lotação e hangares disponíveis), tipo, disponibilização e preço dos combustíveis (AVGAS e/ou Querosene) e avisos de perigos de natureza geral.
</p>
