@{
    ViewBag.Title = "About";
}
<br />
<br />
    <img src="~/Img/sobreimg.png" width="500" height="500" class="float-lg-right" />
<br />
<p>
    <h2>A Origem do CommanderBuddy</h2>
</p>
<p>
    Um dia, quando viajava com meu pai, que foi comandante de linhas aereas comerciais por anos e entusiasta quando se trata de voo, em um avião bimotor simples com destino original para Búzios/RJ, porém, por conta de um erro no planejamento do voo, tivemos diversas dificuldades, seja com mal estar, quanto desvios inesperados, inclusive tivemos que desviar nossa rota para um pouso em Praia Grande/SP. Quando voltamos para Bragança Paulista, depois de passar o dia anterior, tanto o meu pai quanto seu copiloto teve certos problemas para preencher e enviar os planos de voo e os diários de bordo. Foi então que tive a ideia do Commander Buddy
</p>
<p>
    <h2>A função do CommanderBuddy</h2>
</p>
<p>
    O CommanderBuddy foi feito para que o usuário tenha facilidade em criar planos de voo, onde ele possa também ter total controle sobre suas informações.
    <br />
    <br />
    Ele tembém foi feito com a ideia de eliminar o uso de papel nos diários de bordo, criando um banco de dados para cada usuário contendo os diários de bordo salvos
    <br />
    <br />
    Além disso, o CommanderBuddy possui ferramentas para facilitar esse preenchimento, com um conversor de medidas, uma calculadora de horas (que converte para decimais) e um banco de dados ICAO para que o usuário possa pesquisar qual código ICAO pertence a qual Aeródromo
    <br />
    <br />
</p>

