@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<h3>@ViewBag.Message</h3>

<address>
    <strong>Suporte e demais perguntas:</strong>   <a href="mailto:leo.cani099@gmail.com">leo.cani099@gmail.com</a>
</address>