@{
    ViewBag.Title = "Contact";
}
<br />
<br />

<address>

    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle float-md-none" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <defs>
                <clipPath id="circleClip">
                    <circle cx="70" cy="70" r="70" />
                </clipPath>
            </defs>
            <image xlink:href="~/Img/contacteu.jpeg" clip-path="url(#circleClip)" width="140" height="140" />
        </svg>

        <h2>Leonardo Schumann</h2>
        <p>Aluno da UNIFAAT, já teve contato com várias linguagens de programação, vindo de uma familia de aviadores, tem bastante experiência com a vida cotidiana de um piloto</p>
        <p><strong>Suporte e demais perguntas:</strong>   <a href="mailto:leo.cani099@gmail.com">leo.cani099@gmail.com</a> <br />
        <a href="https://www.linkedin.com/in/leonardo-schumann/">Meu LinkedIn</a></p>
    </div>
</address>