
@{
    ViewBag.Title = "Painel de Controle";
    Layout = "~/Views/Shared/_LayoutSemNavbar.cshtml";
}


<br>
<br>
<body class="d-flex h-100 text-center text-bg-dark">
    <main class="px-3">
        <h1>Painel de Controle.</h1>
        <p class="lead">Bem Vindo ao Commander Buddy.</p>
        <p class="lead">
            @Html.ActionLink("Diários de Bordo", "Index", "DBordo", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Planos de Voo", "Index", "PVoo", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Caixa de Ferramentas", "Index", "CFerramentas", null, new { @class = "btn btn-primary" })
        </p>
    </main>
</body>

