@model CMDBuddyFinal.Models.Usuario

@{
    ViewBag.Title = "Cadastra";
}

<br/>
<br/>
<div style="text-align:center;">
    <h2>Cadastrar usuário</h2>
</div>

<div style="align-content: center; justify-content: center; height: 100vh; display: flex;">
@using (Html.BeginForm("Cadastra", "Login", FormMethod.Post))
{

    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "col-6" })
    <br />
    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.LabelFor(model => model.Userpass, htmlAttributes: new { @class = "col-6" })
    <br />
    @Html.PasswordFor(model => model.Userpass, htmlAttributes: new { @class = "form-control" })
    <br />
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
}
    </div>

